<!-- <div  class="container">
    <img src="./assets/background.jpg" style="margin-left: -90px;height: 721px;width: 1544px;">
    <div class="loginContainer">

    </div>
</div> -->

<div class="dataCardContainer">

    <div class="cardHeader">
        <span class="cardTitle">
            <strong>{{tableTitle}} ({{totalTableDataCount}})</strong>
        </span>

        <div style="cursor:pointer;" fxLayout="row">
            <div class="advFilter">Advanced Filter
                <img src="./assets/filter.png" class="filterIcon">
            </div>
        </div>

        <div class="bulkupload">BulkUpload</div>
        <div class="download">Download</div>
        <img src="./assets/collapse_icon.png" alt="close" class="pointerIcon">
    </div>


                            <!-- Header starts -->

  <div class="" fxLyout="row">
    <div class="" fxLayout="column" >
        
    </div>
  </div>




</div>